In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Huilong,31.8111,121.6550,80.98,93,71,7.16,CN,2021-07-29 19:11:25
1,1,Thompson,55.7435,-97.8558,74.77,33,17,7.18,CA,2021-07-29 19:10:27
2,2,Faya,18.3851,42.4509,64.92,68,40,4.38,SA,2021-07-29 19:10:48
3,3,Terrace Bay,48.7834,-87.1000,64.76,49,49,12.86,CA,2021-07-29 19:11:25
4,4,Mount Gambier,-37.8333,140.7667,50.95,53,100,15.46,AU,2021-07-29 19:11:25

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Huilong,31.8111,121.6550,80.98,93,71,7.16,CN,2021-07-29 19:11:25
7,7,Kloulklubed,7.0419,134.2556,77.50,74,100,4.97,PW,2021-07-29 19:11:26
11,11,Butaritari,3.0707,172.7902,82.62,75,7,9.62,KI,2021-07-29 19:11:26
12,12,Najran,17.4924,44.1277,85.30,47,41,7.23,SA,2021-07-29 19:09:23
13,13,Champerico,14.3000,-91.9167,88.75,63,85,3.42,GT,2021-07-29 19:11:26
16,16,Kardailovo,51.5386,53.9042,75.27,36,99,4.97,RU,2021-07-29 19:11:27
17,17,Fort Nelson,58.8053,-122.7002,76.51,28,9,7.52,CA,2021-07-29 19:10:17
18,18,Bethel,41.3712,-73.4140,76.50,79,75,1.01,US,2021-07-29 19:09:16
22,22,Makakilo City,21.3469,-158.0858,80.92,70,75,5.75,US,2021-07-29 19:11:28
24,24,Jamestown,42.0970,-79.2353,79.07,77,75,11.99,US,2021-07-29 19:11:28

In [18]:
preferred_cities_df.count()

City_ID       185
City          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
Country       185
Date          185
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0         Huilong      CN     80.98  31.8111  121.6550
7     Kloulklubed      PW     77.50   7.0419  134.2556
11     Butaritari      KI     82.62   3.0707  172.7902
12         Najran      SA     85.30  17.4924   44.1277
13     Champerico      GT     88.75  14.3000  -91.9167
16     Kardailovo      RU     75.27  51.5386   53.9042
17    Fort Nelson      CA     76.51  58.8053 -122.7002
18         Bethel      US     76.50  41.3712  -73.4140
22  Makakilo City      US     80.92  21.3469 -158.0858
24      Jamestown      US     79.07  42.0970  -79.2353

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
    
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Huilong,CN,80.98,31.8111,121.6550,Hilton Garden Inn Qidong
7,Kloulklubed,PW,77.50,7.0419,134.2556,Storyboard Beach Resort
11,Butaritari,KI,82.62,3.0707,172.7902,Isles Sunset Lodge
12,Najran,SA,85.30,17.4924,44.1277,محمد هادي ال فطيح
13,Champerico,GT,88.75,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
16,Kardailovo,RU,75.27,51.5386,53.9042,
17,Fort Nelson,CA,76.51,58.8053,-122.7002,The Fort Nelson Hotel
18,Bethel,US,76.50,41.3712,-73.4140,Courtyard by Marriott Danbury
22,Makakilo City,US,80.92,21.3469,-158.0858,Marriott's Ko Olina Beach Club
24,Jamestown,US,79.07,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [46]:
#Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]