## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mogadishu,SO,2.0371,45.3438,76.32,85,74,17.34,light rain
1,1,Punta Arenas,CL,-53.1500,-70.9167,57.31,55,0,8.05,clear sky
2,2,Great Falls,US,47.5002,-111.3008,83.66,26,1,1.99,haze
3,3,Vaini,TO,-21.2000,-175.2000,64.56,77,40,4.61,scattered clouds
4,4,Port Lincoln,AU,-34.7333,135.8667,55.31,78,99,10.29,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 88

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mogadishu,SO,2.0371,45.3438,76.32,85,74,17.34,light rain
2,2,Great Falls,US,47.5002,-111.3008,83.66,26,1,1.99,haze
5,5,Hithadhoo,MV,-0.6000,73.0833,82.02,77,100,8.90,overcast clouds
6,6,Albany,US,42.6001,-73.9662,78.80,61,100,4.18,overcast clouds
8,8,Kapaa,US,22.0752,-159.3190,80.92,77,75,4.00,light rain
11,11,Nanning,CN,22.8167,108.3167,84.52,69,83,3.22,light rain
12,12,Atuona,PF,-9.8000,-139.0333,77.77,67,100,14.14,overcast clouds
15,15,Butaritari,KI,3.0707,172.7902,82.26,66,97,11.14,overcast clouds
23,23,Jamestown,US,42.0970,-79.2353,78.03,55,1,4.00,clear sky
25,25,Takoradi,GH,4.8845,-1.7554,78.91,80,73,12.68,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
dropping_empty_rows_df = preferred_cities_df.dropna()
dropping_empty_rows_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mogadishu,SO,2.0371,45.3438,76.32,85,74,17.34,light rain
2,2,Great Falls,US,47.5002,-111.3008,83.66,26,1,1.99,haze
5,5,Hithadhoo,MV,-0.6000,73.0833,82.02,77,100,8.90,overcast clouds
6,6,Albany,US,42.6001,-73.9662,78.80,61,100,4.18,overcast clouds
8,8,Kapaa,US,22.0752,-159.3190,80.92,77,75,4.00,light rain
...,...,...,...,...,...,...,...,...,...,...
647,647,Joao Pinheiro,BR,-17.7425,-46.1725,81.21,28,97,6.42,overcast clouds
654,654,Dakar,SN,14.6937,-17.4441,86.88,79,81,10.54,broken clouds
658,658,Hatta,IN,24.1167,79.6000,76.71,85,100,12.17,overcast clouds
659,659,Laurel,US,39.0993,-76.8483,82.63,56,1,3.00,clear sky
661,661,Sitia,GR,35.2000,26.0986,83.98,59,0,10.60,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = dropping_empty_rows_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mogadishu,SO,76.32,light rain,2.0371,45.3438,
2,Great Falls,US,83.66,haze,47.5002,-111.3008,
5,Hithadhoo,MV,82.02,overcast clouds,-0.6000,73.0833,
6,Albany,US,78.80,overcast clouds,42.6001,-73.9662,
8,Kapaa,US,80.92,light rain,22.0752,-159.3190,
11,Nanning,CN,84.52,light rain,22.8167,108.3167,
12,Atuona,PF,77.77,overcast clouds,-9.8000,-139.0333,
15,Butaritari,KI,82.26,overcast clouds,3.0707,172.7902,
23,Jamestown,US,78.03,clear sky,42.0970,-79.2353,
25,Takoradi,GH,78.91,broken clouds,4.8845,-1.7554,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [ ]:
hotel_df.head(10)

In [10]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mogadishu,SO,76.32,light rain,2.0371,45.3438,Hotel Juba
2,Great Falls,US,83.66,haze,47.5002,-111.3008,La Quinta Inn & Suites by Wyndham Great Falls
5,Hithadhoo,MV,82.02,overcast clouds,-0.6000,73.0833,Scoop Guest House
8,Kapaa,US,80.92,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Nanning,CN,84.52,light rain,22.8167,108.3167,Nanning Travelling With Hostel

In [11]:
# 8a. Create the output File (CSV)
output_data_file_2 = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file_2, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))